@charset "utf-8";
body {
	margin: 0;
	padding: 20px;
	font-family: 'Arial', sans-serif;
	background-color: #E0F7FA; /* 青系の背景色 */
	color: #003366; /* 濃い青の文字色 */
	background-image: url(blue%20%E8%83%8C%E6%99%AF.png);
	background-size: -30px 50px;
}
ul li a {
	line-height: 50px;
}
